<h3 class="card-header">Forgot Password</h3>
<div class="card-body">
    <form *ngIf="!success" [formGroup]="forgetForm" (ngSubmit)="onForgetSubmit()">
        <div class="form-group">
            <label>Enter Email</label>
            <input type="email" name="email" formControlName="email" class="form-control"
            placeholder="Please enter your email" formControlName="email">
            <span class="error" *ngIf="email.invalid && email.touched"
                class="text-danger">Please enter your email id</span><br>
            </div>
            <button type="button" class="btn btn-primary">Forgot  Password</button>
    </form>

    <div *ngIf="success" class="alert alert-success mt-5" role="alert">
        <h4 class="alert-heading">Success!</h4>
        <p>Please Check your email and click on verification link to reset password</p>
    </div>

    <div *ngIf= "error" class="alert alert-danger mt-5" role="alert">
        <h4 class="alert-handing">Error!</h4>
        <p>{{error}}</p>

    </div>
 


</div>

